<?xml version="1.0"?>
<config>
    <modules>
        <SH_Tireon>
            <version>0.1.3</version>
        </SH_Tireon>
    </modules>
    <frontend>
        <routers>
            <sh_tireon>
                <use>standard</use>
                <args>
                    <module>SH_Tireon</module>
                    <frontName>sh_tireon</frontName>
                </args>
            </sh_tireon>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>escrow</default>
                </theme>
            </design>
            <checkout>
                <args>
                    <modules>
                        <SH_Tireon before="Mage_Checkout">SH_Tireon_Checkout</SH_Tireon>
                    </modules>
                </args>
            </checkout>
        </routers>
        <translate>
            <modules>
                <SH_Tireon>
                    <files>
                        <default>SH_Tireon.csv</default>
                    </files>
                </SH_Tireon>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <SH_Tireon>
                    <files>
                        <default>SH_Tireon.csv</default>
                    </files>
                </SH_Tireon>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <helpers>
            <sh_tireon>
                <class>SH_Tireon_Helper</class>
            </sh_tireon>
        </helpers>
        <blocks>
            <sh_tireon>
                <class>SH_Tireon_Block</class>
            </sh_tireon>
            <checkout>
                <rewrite>
                    <onepage>SH_Tireon_Block_Checkout_Onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <sh_tireon>
                <class>SH_Tireon_Model</class>
                <resourceModel>sh_tireon_resource</resourceModel>
            </sh_tireon>
            <sh_tireon_resource>
                <class>SH_Tireon_Model_Resource</class>
                <entities></entities>
            </sh_tireon_resource>
        </models>
        <resources>
            <sh_tireon_setup>
                <setup>
                    <module>SH_Tireon</module>
                    <class>SH_Tireon_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sh_tireon_setup>
            <sh_tireon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sh_tireon_write>
            <sh_tireon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sh_tireon_read>
        </resources>
        <events>
            <controller_action_predispatch>
                <observers>
                    <sh_tireon>
                        <type>singleton</type>
                        <class>SH_Tireon_Model_Observer</class>
                        <method>hookToControllerActionPreDispatch</method>
                    </sh_tireon>
                </observers>
            </controller_action_predispatch>
            <customer_account_redirect>
                <observers>
                    <sh_tireon>
                        <class>SH_Tireon_Model_Observer</class>
                        <method>hookToCustomerAccount</method>
                    </sh_tireon>
                </observers>
            </customer_account_redirect>
        </events>
    </global>
</config>
